{
  "presets": [
    "@parcel/babel-preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-nullish-coalescing-operator",
      {},
      "proposal-nullish-coalescing-operator"
    ],
    [
      "@babel/plugin-proposal-optional-chaining",
      {},
      "proposal-optional-chaining"
    ],
    // WORKAROUND: For https://github.com/parcel-bundler/parcel/issues/1762
    [
      "@parcel/babel-plugin-transform-runtime",
      {
        // "corejs": {
        //   "version": 3
        // },
        "regenerator": true,
        "debug": true
      }
    ]
  ]
}
