/* TODO: Replace with SCSS */

/* @import "./tabs.css"; */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h1 {
    color: blue;
    font-size: 2.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.page {
    width: 100%;
    min-height: 100%;
}